#nav-bar {
  position: fixed;
  height: 80px;
  width: 100%;
  background: #00a087;
  color: #e8fdff;
  padding: 0 2em;
  z-index: 10;
}

#nav-bar img {
  width: 80px;
  height: 80px;
}

#nav-bar .logo {
  float: left;
  margin: 0 10px 0 0;
}

#nav-bar .header {
  line-height: 80px;
  float: left;
  font-size: 2em;
}

nav #compose-tweet-button {
  float: right;
  padding: 12px;
  margin: 18px 0px;
  background: #E8FDFF;
  color: #00a087;
}

