.new-tweet {
  border-radius: 5px;
  border: solid #CDCDCD 2px;
  background-color: #eeeeee;
  margin: 0 auto;
  margin: 10px;
  overflow: auto;
}

#new-tweet-form {
  clear: both;
  width: 100%;
}

.new-tweet h2 {
  border-bottom: black 2px solid;
  margin: 10px 6px;
}

.new-tweet textarea {
  height: 50px;
  margin: 0 0 2px 7px;
  padding: 0.5em;
  width: 96%;
  clear: both;
}

input#new-tweet-button {
  
}

.new-tweet .counter {
  float: right;
  padding: 3px 20px 0;
}

.new-tweet input {
  margin: 0 0 12px 12px;
}

span.new-tweet-warning {
  margin: 0px auto;
  float: right;
  font-size: 12px;
  color: red;
}

