article.tweet-post {
  margin-top: 5px;
  opacity: 0.8;
}

article.tweet-post:hover {
  margin-top: 5px;
  opacity: 1.0;
}

header .tweet-user-info {
  height: 80px;
  width: 100%;
}

header .tweet-user-icon {
  height: 50px;
  width: 50px;
  padding: 2px 0 6px 2px;
  background-color: rgb(219, 255, 250); 
  float: left;
  overflow: hidden;
  border-radius: 5px;
  margin: 1% 0 1% 1%;
}

header .tweet-author {
  float: left;
  margin-left: 10px;
  margin-top: 8px;
}

header .username-handle {
  float: right;
  margin-right: 8px;
  margin-top: 14px;
  color: lightslategray;
}

div.tweet-body {
  clear: both;
  background: white;
  padding: 18px;
}

footer.tweet-footer {
  border-top: 1px lightgrey solid;
  padding: 6px;
  background: white;
}

footer .post-days-ago {
  float: left;
  margin: 0;
  color: darkslategray;
}

footer .mini-icon-group {
  opacity: 0.0;
}

.tweet-post:hover .mini-icon-group {
  opacity: 1.0;
  float: right; 
}

footer .mini-click-icons {
  height: 20px;
  width: 20px;
}

.tweet-divider {
  clear: both;
}
